.footer-container{  
    background-color: #7A7A7A1A;
}

.hero{
    background-image: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png");
    background-size: cover;
    background-position: center;
    height: 45rem;
    box-shadow:inset 0 0 0 2000px rgba(121, 120, 120, 0.3);
    width: auto;
}
.hero-text{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
}