@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
.footer-container{  
    background-color: #7A7A7A1A;
}

.hero{
    background-color: blue;
    /* background-image: linear-gradient(to right top, #4831b8, #4041c4, #364fd0, #2a5ddb, #196ae5); */
    background-image: linear-gradient(to right top, #4831b8, #4a56ca, #5676d8, #6e94e1, #8eb1e7);
    /* background-image: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png");
    background-size: cover;
    background-position: center; */
    height: 20rem;
    width: auto;
}
.hero-text {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}

.hero img{
    height: 15rem;
    width: auto;
}


.footer-container img{
    height: 3rem;
    width: auto;
}

.calendario{
    height: 65rem;
    width: auto;
    align-self: center;
    align-content: center;
}

